---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Page";

const identity = {
  firstname: "Tom",
  country: "France",
  occupation: "Dev",
  hobbies: ["Surf", "Fitness", "Board game"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Identity</h2>
  <ul>
    <li>Name : {identity.firstname}</li>
    <li>Country : {identity.country}</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          {identity.hobbies[0]}, {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <h2>Skills</h2>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
