---
import "../styles/global.css";

const pageTitle = "About Page";

const identity = {
  firstname: "Tom",
  country: "France",
  occupation: "Dev",
  hobbies: ["Surf", "Fitness", "Board game"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

/*Définir des variables CSS */
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    {
      /* Commentaire non rendu dans le DOM, déclarer les varaible css pour utilisation */
    }
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: var(--skillColor);
        font-size: 4rem;
      }
      .skill {
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>

  <!-- BODY -->
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
    </nav>

    <h1>{pageTitle}</h1>
    <h2>Identity</h2>
    <ul>
      <li>Name : {identity.firstname}</li>
      <li>Country : {identity.country}</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            {identity.hobbies[0]}, {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <h2>Skills</h2>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </body>
</html>
